main section.perfil{
    background-color: white;
    margin: 0%;
    border-radius: 7px;
    width: 18%;
    height: 365px;
    border: 3px solid #EEEBEB;
}

main section.perfil div.contactos_perfil, main section.perfil div.premium_perfil, main section.perfil div.marcadores_perfil{
    font-size: 12px;
    padding-left: 10px;
}

main section.perfil div.nombre:hover{
    text-decoration: underline;
}

main section.perfil div.contactos_perfil:hover, main section.perfil div.premium_perfil:hover{
    background-color: #EEEBEB;
}

main section.perfil div.marcadores_perfil:hover{
    background-color: #EEEBEB;
    border-bottom-left-radius: 7px; 
    border-bottom-right-radius: 7px;
}

main section.perfil div.imagen_decorativa_perfil{
    background-color: silver;
    border-top-left-radius: 7px; 
    border-top-right-radius: 7px;
    height: 60px;
}

main section.perfil div.nombre img{
    position: relative;
    bottom: 40px;
}

main section.perfil div.nombre{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 110px;
    border-bottom: 1px solid gray;
}

main section.perfil div.nombre p{
    position: relative;
    bottom: 15px;
}

main section.perfil div.contactos_perfil{
    height: 49px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid gray;
}

main section.perfil div.contactos_perfil a{
    position: relative;
    left: 200px;
    bottom: 25px;
}

main section.perfil div.premium_perfil{
    height: 49px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

main section.perfil div.premium_perfil a.link_premium{
    font-weight: bold;
}

main section.perfil div.premium_perfil img.cuadrado{
    position: relative;
    top: 2px;
}

main section.perfil div.premium_perfil a.link_premium:hover{
    color: #5598E3;
    text-decoration: underline;
}

main section.perfil div.marcadores_perfil{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    gap: 10px;
    font-weight: bold;
}